<article class="article card mb-5 mt-5">
  <h2 class="article-title card-header">
    <%= article.title %>
  </h2>

  <main class="article-body card-body">
    <%= article.body %>
  </main>
</article>
