<article class="article card mb-5 mt-5">
  <h2 class="article-title card-header">
    <%= article.title %>
  </h2>

  <main class="article-body card-body">
    <%= article.body %>
  </main>

  <%= link_to "Edit ✏️", edit_article_path(article), class: "btn" %>
</article>
